<header>
    <a href={{path('welcome')}}>{{ 'nav.back' |trans }}</a>
</header>
<h1>{{ 'titles.edit' |trans({}, 'posts') }}</h1>

<form action="{{ path('post_admin_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">{{ 'crud.edit' |trans}}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('post_admin_show', { 'id': entity.id }) }}"> {{ 'crud.show' |trans }}</a>
    </li>
    <li>
        <a href="{{ path('post_admin_delete', { 'id': entity.id }) }}"> {{ 'crud.delete' |trans }}</a>
    </li>
    <li>
        <a href="{{ path('post_admin') }}"> {{ 'crud.list' |trans }}</a>
    </li>
</ul>
