<header>
    <a href={{path('welcome')}}>{{ 'nav.back' |trans }}</a>
</header>
<h1>{{ 'titles.create' |trans({},'posts') }}</h1>

<form action="{{ path('post_admin_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">{{ 'crud.create' |trans }}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('post_admin') }}"> {{ 'crud.list' |trans }}</a>
    </li>
</ul>
